@model Product
<h1>@Model.Name</h1>

<h3>Categories: </h3>

@foreach (ProductCategoryAssociation cat in Model.ManyCats)
{
    if(cat.Category != null){
        <p>@cat.Category.Name</p>
    }
}

@{
    ProductCategoryAssociation Obj = new ProductCategoryAssociation();
}
<partial name="AddCatToProd" model="Obj"/>